## IMPORT LIB

In [1]:
import pandas as pd 
import numpy as np

## TOY DATA

In [2]:
toyDataMatriks = [
    [3,	0,	0,	0,	0,	0,	2],
    [1,	2,	4,	2,	2,	0,	0],
    [0,	4,	1,	0,	0,	2,	4],
    [0,	0,	0,	0,	3,	2,	4]
]

In [3]:
# toydata to dataframe

dfToyData = pd.DataFrame(toyDataMatriks, columns=['item-1', 'item-2', 'item-3', 'item-4','item-5','item-6', 'item-7'], index=['user-1', 'user-2', 'user-3', 'user-4'])
dfToyData

        item-1  item-2  item-3  item-4  item-5  item-6  item-7
user-1       3       0       0       0       0       0       2
user-2       1       2       4       2       2       0       0
user-3       0       4       1       0       0       2       4
user-4       0       0       0       0       3       2       4

In [37]:
dfToyData2 = pd.DataFrame(
    toyDataMatriks,
    columns=[1, 2, 3, 4, 5, 6, 7],  # kolom menggunakan integer
    index=[1, 2, 3, 4]  # index juga menggunakan integer
)

dfToyData2

   1  2  3  4  5  6  7
1  3  0  0  0  0  0  2
2  1  2  4  2  2  0  0
3  0  4  1  0  0  2  4
4  0  0  0  0  3  2  4

## MEAN RATING

In [4]:
def meanRating(rating):
    num = rating.sum(axis=1)
    den = np.count_nonzero(rating, axis=1)
    # menghindari pembagian dengan 0
    calCulatedMean  = np.where(den != 0, num / den, 0)
    # menghitung mean
    meanRatingUser = pd.DataFrame(calCulatedMean, index=rating.index, columns=['meanRating'])

    return meanRatingUser

In [5]:
cal_MeanRatingUser = meanRating(dfToyData)
cal_MeanRatingUser

        meanRating
user-1        2.50
user-2        2.20
user-3        2.75
user-4        3.00

In [6]:
cal_MeanRatingItem = meanRating(dfToyData.T)
cal_MeanRatingItem

        meanRating
item-1    2.000000
item-2    3.000000
item-3    2.500000
item-4    2.000000
item-5    2.500000
item-6    2.000000
item-7    3.333333

## MEAN CENTERD

In [7]:
def meanCenterd(rating, meanRating):
    npRatingMatriks = np.array(rating)
    npMeanRatingUser = np.array(meanRating)
    # !0
    meanCenteredUser = np.where(npRatingMatriks!=0, npRatingMatriks - npMeanRatingUser,0)
    dfMeanCenteredUser = pd.DataFrame(meanCenteredUser, index=rating.index, columns=rating.columns)

    return dfMeanCenteredUser

In [8]:
cal_MeanCenteredUser = meanCenterd(dfToyData, cal_MeanRatingUser)
cal_MeanCenteredUser

        item-1  item-2  item-3  item-4  item-5  item-6  item-7
user-1     0.5    0.00    0.00     0.0     0.0    0.00   -0.50
user-2    -1.2   -0.20    1.80    -0.2    -0.2    0.00    0.00
user-3     0.0    1.25   -1.75     0.0     0.0   -0.75    1.25
user-4     0.0    0.00    0.00     0.0     0.0   -1.00    1.00

In [9]:
cal_MeanCenteredItem = meanCenterd(dfToyData.T, cal_MeanRatingItem)
cal_MeanCenteredItem

          user-1  user-2    user-3    user-4
item-1  1.000000    -1.0  0.000000  0.000000
item-2  0.000000    -1.0  1.000000  0.000000
item-3  0.000000     1.5 -1.500000  0.000000
item-4  0.000000     0.0  0.000000  0.000000
item-5  0.000000    -0.5  0.000000  0.500000
item-6  0.000000     0.0  0.000000  0.000000
item-7 -1.333333     0.0  0.666667  0.666667

In [10]:
cal_MeanCenteredItemTranpose = cal_MeanCenteredItem.T
cal_MeanCenteredItemTranpose

        item-1  item-2  item-3  item-4  item-5  item-6    item-7
user-1     1.0     0.0     0.0     0.0     0.0     0.0 -1.333333
user-2    -1.0    -1.0     1.5     0.0    -0.5     0.0  0.000000
user-3     0.0     1.0    -1.5     0.0     0.0     0.0  0.666667
user-4     0.0     0.0     0.0     0.0     0.5     0.0  0.666667

## SIMILARITY UB DAN IB

In [43]:
def simRJUser(rating, penggunaU, penggunaV):
    # mendapatkan item yang diberi rating oleh penggunaU dan penggunaV
    # itemRatedPenggunaU2 = set(np.where(rating.loc[penggunaU, :] != 0)[0])
    # print(itemRatedPenggunaU2)
    itemRatedPenggunaU = set(rating.columns[rating.iloc[penggunaU, : ] != 0])
    print(itemRatedPenggunaU)
    # print(itemRatedPenggunaU)
    itemRatedPenggunav = set(rating.columns[rating.iloc[penggunaV, :] != 0])
    # print(itemRatedPenggunav)
    # mencari irisan dari item yang diberi rating oleh penggunaU dan penggunaV
    intersection = len(itemRatedPenggunaU.intersection(itemRatedPenggunav))
    print(intersection)
    iPenggunaU = len(itemRatedPenggunaU)
    print(iPenggunaU)
    iPenggunaV = len(itemRatedPenggunav)
    print(iPenggunaV)
    # menghitung similarity
    if intersection != 0:
        rumusSimRJUser = 1/(1+(1/intersection)+(iPenggunaU/(1+iPenggunaU))+(iPenggunaV/(1+iPenggunaV)))
        print(1/intersection)
        print(iPenggunaU/1+iPenggunaU)
        print(iPenggunaV/1+iPenggunaV)
    else:
        rumusSimRJUser = 0
    
    return rumusSimRJUser

In [44]:
# menghitung similarity antar pengguna
cal_simRJUser = simRJUser(dfToyData2,0, 0)
print(f"similarity user-1 dan user-2 = {cal_simRJUser}")

{1, 7}
2
2
2
0.5
4.0
4.0
similarity user-1 dan user-2 = 0.35294117647058826

In [13]:
def simRJItem(rating, itemU, itemV):
    # mendapatkan pengguna yang memberi rating pada itemU dan itemV
    userRatedItemU = set(rating.index[rating.iloc[:, itemU] != 0])
    userRatedItemV = set(rating.index[rating.iloc[:, itemV] != 0])
    
    # mencari irisan dari pengguna yang memberi rating pada itemU dan itemV
    intersection = len(userRatedItemU.intersection(userRatedItemV))
    # print("intersection = ", intersection)
    iItemU = len(userRatedItemU)
    iItemV = len(userRatedItemV)

    # menghitung similarity
    if intersection != 0:
        rumusSimRJItem = 1/(1+(1/intersection)+(iItemU/(1+iItemU))+(iItemV/(1+iItemV)))
    elif intersection == 0:
        rumusSimRJItem = 0
    return rumusSimRJItem

In [14]:
calR = simRJItem(dfToyData, 0,1)
print(f"similarity item-3 dan item-3 = {calR}")

similarity item-3 dan item-3 = 0.30000000000000004

### KOMBINASI USER ATAU ITEM

In [15]:
def similarityAllUser2(rating, jenis='user'):
    if jenis == 'user':
        jumlah = rating.shape[0]
        indeks = rating.index
        simMatriks = np.zeros((jumlah, jumlah))
        for i in range(jumlah):
            for j in range(i, jumlah):
                nilaiSim = simRJUser(rating, i, j)
                simMatriks[i][j] = nilaiSim
                simMatriks[j][i] = nilaiSim
        simMatriksDf = pd.DataFrame(simMatriks, index=indeks, columns=indeks)
    elif jenis == 'item':
        jumlah = rating.shape[1]
        kolom = rating.columns
        simMatriks = np.zeros((jumlah, jumlah))
        for i in range(jumlah):
            for j in range(i, jumlah):
                nilaiSim = simRJItem(rating, i, j)
                simMatriks[i][j] = nilaiSim
                simMatriks[j][i] = nilaiSim
        simMatriksDf = pd.DataFrame(simMatriks, index=kolom, columns=kolom)
    return simMatriksDf

In [16]:
cal_simAllUser = similarityAllUser2(dfToyData, 'user')
cal_simAllUser

{'item-1', 'item-7'}
{'item-1', 'item-7'}
{'item-1', 'item-7'}
{'item-1', 'item-7'}
{'item-4', 'item-2', 'item-5', 'item-1', 'item-3'}
{'item-4', 'item-2', 'item-5', 'item-1', 'item-3'}
{'item-4', 'item-2', 'item-5', 'item-1', 'item-3'}
{'item-2', 'item-6', 'item-7', 'item-3'}
{'item-2', 'item-6', 'item-7', 'item-3'}
{'item-6', 'item-7', 'item-5'}

          user-1    user-2    user-3    user-4
user-1  0.352941  0.285714  0.288462  0.292683
user-2  0.285714  0.348837  0.319149  0.279070
user-3  0.288462  0.319149  0.350877  0.327869
user-4  0.292683  0.279070  0.327869  0.352941

In [17]:
cal_simAllItem = similarityAllUser2(dfToyData, 'item')
cal_simAllItem

          item-1    item-2    item-3    item-4    item-5    item-6    item-7
item-1  0.352941  0.300000  0.300000  0.315789  0.300000  0.000000  0.292683
item-2  0.300000  0.352941  0.352941  0.315789  0.300000  0.300000  0.292683
item-3  0.300000  0.352941  0.352941  0.315789  0.300000  0.300000  0.292683
item-4  0.315789  0.315789  0.315789  0.333333  0.315789  0.000000  0.000000
item-5  0.300000  0.300000  0.300000  0.315789  0.352941  0.300000  0.292683
item-6  0.000000  0.300000  0.300000  0.000000  0.300000  0.352941  0.342857
item-7  0.292683  0.292683  0.292683  0.000000  0.292683  0.342857  0.352941

## TOPK

In [18]:
def topKNeigbors(RatingMatriks, k=2):

    # np array
    ## aturan 1 : mengambil similarity dari matriks rating tertinggi
    ## aturan 2 : abaikan jika dengan dirinya sendiri jadi ambil index lain
    similarityFunction = np.array(cal_simAllUser(RatingMatriks))
    # abaikan diagonal dan ambil index lain
    selfNotIncluded = np.where(np.eye(similarityFunction.shape[0])==1, 0, similarityFunction)
    # ambil index dari similarity tertinggi
    topK = np.argsort(selfNotIncluded, axis=1)[:, -k:]
    return topK

In [19]:
def TopKTetangga(similarity, k):
    return np.argsort(-similarity)[:k]  # Mengambil k tetangga terdekat

In [20]:
def TetanggaK(target_user, target_item, matriks_rating, similarity, k, jenis="user"):
    if jenis == "user":
        # Cari user lain (index) yang memberi rating pada item tertentu
        filter_indices = [i for i in range(matriks_rating.shape[0])
                          if i != target_user and matriks_rating.iloc[i, target_item] > 0]

        sim_scores = similarity.iloc[target_user, filter_indices].values
    else:
        # Cari item lain (index) yang pernah dinilai oleh user tertentu
        filter_indices = [j for j in range(matriks_rating.shape[1])
                          if j != target_user and matriks_rating.iloc[target_item, j] > 0]

        sim_scores = similarity.iloc[target_user, filter_indices].values

    # Urutkan index berdasarkan similarity
    top_k_idx = np.argsort(-sim_scores)[:k]
    top_k_indices = [filter_indices[i] for i in top_k_idx]

    return top_k_indices

## PREDIKSI

In [21]:
def prediksiCF_v2(RatingMatriks, similarityFunction, mean, meanCen, user="user-2", item="item-2", k=2, jenis="userBased"):
    if jenis == "userBased":
        indeks_user = RatingMatriks.index.get_loc(user)
        indeks_item = RatingMatriks.columns.get_loc(item)
        # Ambil top-k tetangga user yang juga memberi rating ke item
        tetangga = TetanggaK(
            target_user=indeks_user,
            target_item=indeks_item,
            matriks_rating=RatingMatriks,
            similarity=similarityFunction,
            k=k,
            jenis="user"
        )
        print("TetanggaK", tetangga)
        # Hitung pembilang dan penyebut
        pembilang = 0
        penyebut = 0
        for tetangga_idx in tetangga:
            nama_tetangga = RatingMatriks.index[tetangga_idx]
            nilai_meanCen = meanCen.loc[nama_tetangga, item]
            # print(f"Mean centered rating for {nama_tetangga} on {item}: {nilai_meanCen}")
            nilai_sim = similarityFunction.loc[user, nama_tetangga]
            # print(f"Similarity between {user} and {nama_tetangga}: {nilai_sim}")

            pembilang += nilai_meanCen * nilai_sim
            penyebut += abs(nilai_sim)

        if penyebut != 0:
            prediksi = mean.loc[user] + (pembilang / penyebut)
            print("mean", mean.loc[user])
        else:
            prediksi = mean.loc[user]
    elif jenis == "itemBased":
        indeks_item = RatingMatriks.columns.get_loc(item)
        indeks_user = RatingMatriks.index.get_loc(user)
        # Ambil top-k tetangga item yang juga dinilai oleh user
        tetangga = TetanggaK(
            target_user=indeks_item,
            target_item=indeks_user,
            matriks_rating=RatingMatriks,
            similarity=similarityFunction,
            k=k,
            jenis="item"
        )
        # Hitung pembilang dan penyebut
        pembilang = 0
        penyebut = 0
        for tetangga_idx in tetangga:
            nama_tetangga = RatingMatriks.columns[tetangga_idx]
            nilai_meanCen = meanCen.loc[user, nama_tetangga]
            print("nilai mean cen", nilai_meanCen)
            nilai_sim = similarityFunction.loc[nama_tetangga, item]
            print("nilai sim", nilai_sim)
            pembilang += nilai_meanCen * nilai_sim
            print("pembilnag 1", pembilang)
            penyebut += abs(nilai_sim)
        if penyebut != 0:
            prediksi = mean.loc[item] + (pembilang / penyebut)
            print("mean", mean.loc[item])
            print("pembilang", pembilang, "penyebut", penyebut)
        else:
            prediksi = mean.loc[item]
    return [item, float(prediksi)]

In [22]:
cal_PrediksiRJUser = prediksiCF_v2(dfToyData, cal_simAllUser, cal_MeanRatingUser, cal_MeanCenteredUser, user="user-3", item="item-4", k=2, jenis="userBased")
print(f"prediksi rating user-2 untuk item-2 = {cal_PrediksiRJUser}")

TetanggaK [1]
mean meanRating    2.75
Name: user-3, dtype: float64
prediksi rating user-2 untuk item-2 = ['item-4', 2.55]

In [23]:
cal_PrediksiRJItem = prediksiCF_v2(dfToyData, cal_simAllItem, cal_MeanRatingItem, cal_MeanCenteredItemTranpose, user="user-4", item="item-4", k=2, jenis="itemBased")
print(f"prediksi rating user-1 untuk item-2 = {cal_PrediksiRJItem[1]}")

nilai mean cen 0.5
nilai sim 0.31578947368421056
pembilnag 1 0.15789473684210528
nilai mean cen 0.0
nilai sim 0.0
pembilnag 1 0.15789473684210528
mean meanRating    2.0
Name: item-4, dtype: float64
pembilang 0.15789473684210528 penyebut 0.31578947368421056
prediksi rating user-1 untuk item-2 = 2.5

## PREDIKSI KESELURUHAN

In [24]:
def hitungKeseluruhanPrediksi(RatingMatriks, similarityFunction, mean, meanCen, k=2, jenis="userBased"):
    # Membuat DataFrame kosong untuk menyimpan prediksi
    prediksiMatriks = pd.DataFrame(index=RatingMatriks.index, columns=RatingMatriks.columns)
    
    # Iterasi untuk setiap user dan item dalam matriks rating
    for user in RatingMatriks.index:
        for item in RatingMatriks.columns:
            # Cek apakah rating untuk (user, item) adalah 0 atau tidak ada rating
            if RatingMatriks.loc[user, item] == 0:
                # Jika tidak ada rating, prediksi nilai rating menggunakan Collaborative Filtering
                prediksiMatriks.loc[user, item] = prediksiCF_v2(
                    RatingMatriks,
                    similarityFunction,
                    mean,
                    meanCen,
                    user=user,
                    item=item,
                    k=k,
                    jenis=jenis
                )[1]
            else:
                # Jika sudah ada rating, simpan rating asli dari RatingMatriks
                prediksiMatriks.loc[user, item] = RatingMatriks.loc[user, item]

    return prediksiMatriks

In [25]:
cal_HitungAllPrediksiUserRJ = hitungKeseluruhanPrediksi(dfToyData, cal_simAllUser, cal_MeanRatingUser, cal_MeanCenteredUser, k=2, jenis="userBased")
cal_HitungAllPrediksiUserRJ

TetanggaK [2, 1]
mean meanRating    2.5
Name: user-1, dtype: float64
TetanggaK [2, 1]
mean meanRating    2.5
Name: user-1, dtype: float64
TetanggaK [1]
mean meanRating    2.5
Name: user-1, dtype: float64
TetanggaK [3, 1]
mean meanRating    2.5
Name: user-1, dtype: float64
TetanggaK [3, 2]
mean meanRating    2.5
Name: user-1, dtype: float64
TetanggaK [2, 3]
mean meanRating    2.2
Name: user-2, dtype: float64
TetanggaK [2, 0]
mean meanRating    2.2
Name: user-2, dtype: float64
TetanggaK [1, 0]
mean meanRating    2.75
Name: user-3, dtype: float64
TetanggaK [1]
mean meanRating    2.75
Name: user-3, dtype: float64
TetanggaK [3, 1]
mean meanRating    2.75
Name: user-3, dtype: float64
TetanggaK [0, 1]
mean meanRating    3.0
Name: user-4, dtype: float64
TetanggaK [2, 1]
mean meanRating    3.0
Name: user-4, dtype: float64
TetanggaK [2, 1]
mean meanRating    3.0
Name: user-4, dtype: float64
TetanggaK [1]
mean meanRating    3.0
Name: user-4, dtype: float64

          item-1    item-2    item-3 item-4    item-5    item-6    item-7
user-1         3  3.028469  2.516507    2.3  2.401205  1.624092         2
user-2         1         2         4      2         2  1.333375  2.623367
user-3  2.357071         4         1   2.55  2.651348         2         4
user-4  2.670238  3.583291  2.882286    2.8         3         2         4

In [26]:
cal_HitungAllPrediksiItemRJ = hitungKeseluruhanPrediksi(dfToyData, cal_simAllItem, cal_MeanRatingItem, cal_MeanCenteredItemTranpose, k=2, jenis="itemBased")
cal_HitungAllPrediksiItemRJ

nilai mean cen 1.0
nilai sim 0.30000000000000004
pembilnag 1 0.30000000000000004
nilai mean cen -1.3333333333333335
nilai sim 0.29268292682926833
pembilnag 1 -0.09024390243902441
mean meanRating    3.0
Name: item-2, dtype: float64
pembilang -0.09024390243902441 penyebut 0.5926829268292684
nilai mean cen 1.0
nilai sim 0.30000000000000004
pembilnag 1 0.30000000000000004
nilai mean cen -1.3333333333333335
nilai sim 0.29268292682926833
pembilnag 1 -0.09024390243902441
mean meanRating    2.5
Name: item-3, dtype: float64
pembilang -0.09024390243902441 penyebut 0.5926829268292684
nilai mean cen 1.0
nilai sim 0.31578947368421056
pembilnag 1 0.31578947368421056
nilai mean cen -1.3333333333333335
nilai sim 0.0
pembilnag 1 0.31578947368421056
mean meanRating    2.0
Name: item-4, dtype: float64
pembilang 0.31578947368421056 penyebut 0.31578947368421056
nilai mean cen 1.0
nilai sim 0.30000000000000004
pembilnag 1 0.30000000000000004
nilai mean cen -1.3333333333333335
nilai sim 0.29268292682926833
pembilnag 1 -0.09024390243902441
mean meanRating    2.5
Name: item-5, dtype: float64
pembilang -0.09024390243902441 penyebut 0.5926829268292684
nilai mean cen -1.3333333333333335
nilai sim 0.34285714285714286
pembilnag 1 -0.4571428571428572
nilai mean cen 1.0
nilai sim 0.0
pembilnag 1 -0.4571428571428572
mean meanRating    2.0
Name: item-6, dtype: float64
pembilang -0.4571428571428572 penyebut 0.34285714285714286
nilai mean cen -1.0
nilai sim 0.30000000000000004
pembilnag 1 -0.30000000000000004
nilai mean cen 1.5
nilai sim 0.30000000000000004
pembilnag 1 0.15000000000000002
mean meanRating    2.0
Name: item-6, dtype: float64
pembilang 0.15000000000000002 penyebut 0.6000000000000001
nilai mean cen -1.0
nilai sim 0.29268292682926833
pembilnag 1 -0.29268292682926833
nilai mean cen -1.0
nilai sim 0.29268292682926833
pembilnag 1 -0.5853658536585367
mean meanRating    3.333333
Name: item-7, dtype: float64
pembilang -0.5853658536585367 penyebut 0.5853658536585367
nilai mean cen 1.0
nilai sim 0.30000000000000004
pembilnag 1 0.30000000000000004
nilai mean cen -1.5
nilai sim 0.30000000000000004
pembilnag 1 -0.15000000000000002
mean meanRating    2.0
Name: item-1, dtype: float64
pembilang -0.15000000000000002 penyebut 0.6000000000000001
nilai mean cen 1.0
nilai sim 0.31578947368421056
pembilnag 1 0.31578947368421056
nilai mean cen -1.5
nilai sim 0.31578947368421056
pembilnag 1 -0.15789473684210525
mean meanRating    2.0
Name: item-4, dtype: float64
pembilang -0.15789473684210525 penyebut 0.6315789473684211
nilai mean cen 1.0
nilai sim 0.30000000000000004
pembilnag 1 0.30000000000000004
nilai mean cen -1.5
nilai sim 0.30000000000000004
pembilnag 1 -0.15000000000000002
mean meanRating    2.5
Name: item-5, dtype: float64
pembilang -0.15000000000000002 penyebut 0.6000000000000001
nilai mean cen 0.5
nilai sim 0.30000000000000004
pembilnag 1 0.15000000000000002
nilai mean cen 0.6666666666666665
nilai sim 0.29268292682926833
pembilnag 1 0.34512195121951217
mean meanRating    2.0
Name: item-1, dtype: float64
pembilang 0.34512195121951217 penyebut 0.5926829268292684
nilai mean cen 0.5
nilai sim 0.30000000000000004
pembilnag 1 0.15000000000000002
nilai mean cen 0.0
nilai sim 0.30000000000000004
pembilnag 1 0.15000000000000002
mean meanRating    3.0
Name: item-2, dtype: float64
pembilang 0.15000000000000002 penyebut 0.6000000000000001
nilai mean cen 0.5
nilai sim 0.30000000000000004
pembilnag 1 0.15000000000000002
nilai mean cen 0.0
nilai sim 0.30000000000000004
pembilnag 1 0.15000000000000002
mean meanRating    2.5
Name: item-3, dtype: float64
pembilang 0.15000000000000002 penyebut 0.6000000000000001
nilai mean cen 0.5
nilai sim 0.31578947368421056
pembilnag 1 0.15789473684210528
nilai mean cen 0.0
nilai sim 0.0
pembilnag 1 0.15789473684210528
mean meanRating    2.0
Name: item-4, dtype: float64
pembilang 0.15789473684210528 penyebut 0.31578947368421056

          item-1    item-2    item-3 item-4    item-5    item-6    item-7
user-1         3  2.847737  2.347737    3.0  2.347737  0.666667         2
user-2         1         2         4      2         2      2.25  2.333333
user-3      1.75         4         1   1.75      2.25         2         4
user-4  2.582305      3.25      2.75    2.5         3         2         4

## HYBRID

In [27]:
def HybridFiltering(PrediksiUser, PrediksiItem, gamma=0.7):
    # Mengonversi ke numpy array
    prediksiUser = np.array(PrediksiUser)
    prediksiItem = np.array(PrediksiItem)
    # Menghitung prediksi hybrid
    rumusHybrid = gamma * prediksiUser + (1 - gamma) * prediksiItem    
    return rumusHybrid

In [28]:
cal_HybridDF = pd.DataFrame(HybridFiltering(cal_HitungAllPrediksiUserRJ, cal_HitungAllPrediksiItemRJ), index=dfToyData.index, columns=dfToyData.columns)
cal_HybridDF

          item-1    item-2    item-3 item-4    item-5    item-6    item-7
user-1       3.0  2.974249  2.465876   2.51  2.385164  1.336864       2.0
user-2       1.0       2.0       4.0    2.0       2.0  1.608362  2.536357
user-3  2.174949       4.0       1.0   2.31  2.530943       2.0       4.0
user-4  2.643858  3.483304  2.842601   2.71       3.0       2.0       4.0

In [29]:
cal_HybridFiltering = HybridFiltering(cal_HitungAllPrediksiUserRJ, cal_HitungAllPrediksiItemRJ, gamma=0.7)
cal_HybridFiltering

array([[3.0, 2.9742492173193926, 2.465876011577766, 2.51,
        2.3851643611482967, 1.336864406779661, 2.0],
       [1.0, 2.0, 4.0, 2.0, 2.0, 1.6083622828784119, 2.536356783919598],
       [2.174949494949495, 4.0, 1.0, 2.3099999999999996,
        2.530943396226415, 2.0, 4.0],
       [2.643858024691358, 3.4833040201005026, 2.8426005025125627, 2.71,
        3.0, 2.0, 4.0]], dtype=object)

## TOPN

In [30]:
def TopNRecommendation(rekomendasiHybrid, N=5):
    topN_per_user = np.argsort(-rekomendasiHybrid, axis=1)[:N]+1
    # tolist
    topN_per_user = topN_per_user.tolist()

    return topN_per_user

In [31]:
cal_TopNRecommendation = TopNRecommendation(cal_HybridFiltering, N=3)
cal_TopNRecommendation

[[1, 2, 4, 3, 5, 7, 6], [3, 7, 2, 4, 5, 6, 1], [2, 7, 5, 4, 1, 6, 3]]

In [32]:
def getTopNRekomendasiV3(prediksiHybrid, ratingMatrix, user_index, N=5):
    pred_user = prediksiHybrid.iloc[user_index].values
    # print("prediksi user", pred_user)
    rating_user = ratingMatrix.iloc[user_index].values
    # print("rating user", rating_user)
    # Item yang belum dirating (nilai 0 atau NaN)
    if np.issubdtype(rating_user.dtype, np.number):
        belum_dirating_idx = np.where(rating_user == 0)[0]
        # print("belum dirating", belum_dirating_idx)
    else:
        belum_dirating_idx = np.where(pd.isna(rating_user))[0]
        print("belum dirating", belum_dirating_idx)
    # Prediksi hanya untuk item yang belum dirating
    pred_belum_dirating = pred_user[belum_dirating_idx]
    # Urutkan dari skor tertinggi
    top_indices = pred_belum_dirating.argsort()[::-1][:N]
    # Ambil ID item-nya (pakai to_numpy() supaya aman)
    top_item_ids = prediksiHybrid.columns.to_numpy()[belum_dirating_idx][top_indices]
    return list(top_item_ids)

In [33]:
cal_TopNRekomendasiV3 = getTopNRekomendasiV3(cal_HybridDF, dfToyData, 0, N=3)
print(f"Top N rekomendasi untuk user-1: {cal_TopNRekomendasiV3}")

Top N rekomendasi untuk user-1: ['item-2', 'item-4', 'item-3']

In [34]:
def getTopNRekomendasiV2(prediksiHybrid, ratingMatrix, user_index, N=5):
    pred_user = prediksiHybrid.iloc[user_index].values
    rating_user = ratingMatrix.iloc[user_index].values
    # Item yang belum dirating (nilai 0 atau NaN)
    if np.issubdtype(rating_user.dtype, np.number):
        belum_dirating_idx = np.where(rating_user == 0)[0]
    else:
        belum_dirating_idx = np.where(pd.isna(rating_user))[0]
    # Prediksi hanya untuk item yang belum dirating
    pred_belum_dirating = pred_user[belum_dirating_idx]
    # Urutkan dari skor tertinggi
    top_indices = pred_belum_dirating.argsort()[::-1][:N]
    # Ambil ID item asli
    top_item_ids = prediksiHybrid.columns.to_numpy()[belum_dirating_idx][top_indices]
    # Convert 'item-2'  2 (kalau item ID masih dalam bentuk string)
    def parse_item_id(item):
        if isinstance(item, str) and item.startswith("item-"):
            return int(item.split("-")[1])
        return item  # sudah angka
    return [parse_item_id(i) for i in top_item_ids]

In [35]:
cal_TopNRekomendasiV2 = getTopNRekomendasiV2(cal_HybridDF, dfToyData, 0, N=3)
print(f"Top N rekomendasi untuk user-1: {cal_TopNRekomendasiV2}")

Top N rekomendasi untuk user-1: [2, 4, 3]